/* *{
    background-color: #ebebf1;
     align-items: center;
    justify-content: center;
    
} */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  /* align-items: center; */
  
}
#fullDiv {

  max-width: 1000px;
  padding: 20px;
  border: 2px solid #333;  
  border-radius: 6px;       
  background-color: #dfdcda;
  overflow: hidden;
  margin: 20px auto;
  

}
.inputBox input{
    border-color: rgb(165, 165, 227);
    width: 220px;
    align-items: center;
    margin-left: 30px;
   height: 25px;
   border-radius: 10px;
}

.select{
    border-color: rgb(165, 165, 227);
    width: 160px;
    text-align: center;
    margin-left: 4rem;
   height: 25px;
   border-radius: 10px;
}

#headerTitle {
    color: #0F766E;
    text-align: center;
}
 
#headerTitle h4{
    margin-top: -16px;
}
button {
  display: block;
  margin: 15px auto;
}
table {
    width: 100%;
    border-collapse:separate;
    margin: 0;
    border-radius: 10px;
    border-spacing: 0px;
    table-layout: fixed;
    
}

/* th {
    background-color: #3498db;
    color: white;
    padding: 10px;git  
}

td {
    padding: 8px;
    text-align: center;
} */
th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}


 td,th {
    border: 1px solid #ccc;
    padding:0 10px;
    height: 45px;
    line-height: 45px;
    text-overflow:ellipsis ;
    overflow: hidden;
    white-space: nowrap;
} 
.table_container{
    overflow-y: auto;
     max-height: 220px;
    margin-bottom: 20px;;
     
   
}
thead th{
   background-color: #0F766E;;
    color: white;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 2;

   
    
} 
 th:nth-child(2),
td:nth-child(2){
    white-space: normal;
    word-break: break-word;
   
} 

#btn{
     background-color: white;
    color: #0F766E;;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btn:hover{
    background-color:  #0F766E;
    color: white;
   
}
@media(max-width: 900px){
    body{
        padding-top: 10px;

    }

    #fullDiv{
        max-width: 95%;
        padding: 12px;
        margin: 10px;
    }
    .inputBox input{
        width: 95%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .select {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    button{
        width: 100%;

    }
    table{
        font-size: 12px;
        min-width: 600px;

    }
     td, th {
        padding: 0 6px;
        height: 40px;
        line-height: 40 px;

     }
     .table_container{
        max-height: 180px;
     }


    
}





