/* *{
    background-color: #ebebf1;
     align-items: center;
    justify-content: center;
    
} */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#fullDiv {

  max-width: 1000px;
  padding: 20px;
  border: 2px solid #333;  
  border-radius: 6px;       
  background-color: #e7b79d;
  overflow: hidden;
  
}
#headerTitle {
    color: #0F766E;
    text-align: center;
}
 
#headerTitle h4{
    margin-top: -16px;
}
button {
  display: block;
  margin: 15px auto;
}
table {
    width: 100%;
    border-collapse: separate;
    margin-top: 15px;
    border-radius: 10px;
    border-spacing: 0px;
    table-layout: fixed;

    
}

th {
    background-color: #3498db;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}
th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}


 td,th {
    border: 1px solid #ccc;
    padding: 10px;
   
} 
.table_container{
    overflow: auto;
    max-height: 200px;
    margin-top:  10px;;
   

}
thead th{
   
    position: Sticky;
    top: 0px;

} 





