/* *{
    background-color: #ebebf1;
     align-items: center;
    justify-content: center;
    
} */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#fullDiv {

  max-width: 1000px;
  padding: 20px;
  border: 2px solid #333;  
  border-radius: 6px;       
  background-color: #e7b79d;
  overflow: hidden;
  
}
#headerTitle {
    color: #0F766E;
    text-align: center;
}
 
#headerTitle h4{
    margin-top: -16px;
}
button {
  display: block;
  margin: 15px auto;
}
table {
    width: 100%;
    border-collapse:separate;
    margin: 0;
    border-radius: 10px;
    border-spacing: 0px;
    table-layout: fixed;

    
}

/* th {
    background-color: #3498db;
    color: white;
    padding: 10px;git  
}

td {
    padding: 8px;
    text-align: center;
} */
th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}


 td,th {
    border: 1px solid #ccc;
    padding:0 10px;
    height: 45px;
    line-height: 45px;
    text-overflow:ellipsis ;
    overflow: hidden;
    white-space: nowrap;
} 
.table_container{
    overflow-y: auto;
     max-height: 220px;
    margin-bottom: 20px;;
     
   
}
thead th{
   background-color: #3498db;
    color: white;
    position: sticky;
    text-align: center;
    top: 0;
    z-index:2;
   
    
} 
 th:nth-child(2),
td:nth-child(2){
    white-space: normal;
    word-break: break-word;
   
} 
